- return unless peek_enabled?

#js-peek{ data: { env: Peek.env,
         request_id: Peek.request_id,
         peek_url: peek_routes.results_url,
         profile_url: url_for(safe_params.merge(lineprofiler: 'true')) },
         class: Peek.env }

#peek-view-performance-bar.hidden
  = render_server_response_time
  %span#serverstats
  %ul.performance-bar
